/Pertemuan10/nbproject/private/
/Pertemuan10/build/
/Pertemuan11/nbproject/private/
/Pertemuan11/build/
/Pertemuan12/nbproject/private/
/Pertemuan12/build/
/Pertemuan12/dist/
/Pertemuan12_v2/build/
/Pertemuan12_v2/nbproject/private/
/Pertemuan12_v2/dist/
/AplikasiAdministrasiNilaiWeb/nbproject/private/
/Pertemuan13_AplikasiAdministrasiNilaiWeb/nbproject/private/
/Pertemuan13_AplikasiAdministrasiNilaiWeb/build/
